* {
    margin: 0 auto;
    padding: 0;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

main {
    max-width: 1100px;
}

header {
    background-color: #CBECFF;
    width: 100%;
    height: 678px;
}

img {
    vertical-align: middle;
}

.top_languages {
    margin-top: 31px;
    display: inline-flex;
    margin-left: 85%;
    font-size: 14px;
}

.lang {
    margin-left: 15px;
    padding: 2px 4px;
    color: #29374E;
    cursor: pointer;
}

.lang_selected {
    color: #0962E8;
    border-radius: 12px;
    background-color: white;
}

.top_content {
    display: flex;
    margin-top: 15px;
}

.top_info {
    max-width: 384px;
    margin: 63px 0 0 100px;
}

.top_info_headers {
    display: flex;
}

.info_header {
    margin-left: 0;
    font-weight: 700;
    font-size: 64px;
    line-height: 130%;
    letter-spacing: 0.006em;
    color: #29374E;
}

.special {
    color: #0962E8;
    border-radius: 20px;
    background-color: white;
    padding: 1px 7px 3px 17px;
}

.top_info_desc {
    margin-top: 14px;
    font-size: 22px;
    line-height: 130%;
    color: #29374E;
}

.top_info_button {
    font-weight: 500;
    font-size: 18px;
    color: white;
    background-color: #0962E8;
    border-radius: 8px;
    padding: 14px 19px 15px 20px;
    border: none;
    margin-top: 38px;
    cursor: pointer;
}

.top_image {
    display: inline-block;
    background-image: url(img/phone_hand.png);
    width: 610px;
    height: 560px;
}

.top_menu {
    margin-top: -35px;
    display: flex;
}

.top_menu_item {
    background-color: white;
    padding: 22px 20px 30px 20px;
    font-weight: 500;
    font-size: 16px;
    color: #29374E;
    box-shadow: 6px 4px 12px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    display: flex;
    width: 200px;
}

.top_menu_item_icon {
    background: #EFF9FF;
    color: #0962E8;
    border-radius: 50%;
    padding: 3px;
    font-size: x-large;
}

.content {
    background-color: #F5F5F5;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.content_header {
    margin-top: 150px;
    width: 753px;
    font-weight: 500;
    font-size: 38px;
    line-height: 130%;
    text-align: center;
    letter-spacing: -0.03em;
    color: #29374E;
}

.content_header_special {
    color: #0962E8;
}

.content_about {
    margin-top: 44px;
    display: flex;
}

.content_about_item {
    width: 502px;
    background: #E9F6FF;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    margin-left: 20px;
}

.content_about_item_desc {
    max-width: 201px;
    margin: 33px 0 0 20px;
    color: black;
}

.content_about_item_desc h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
}

.content_about_item_desc p {
    font-size: 14px;
    line-height: 140%;
    margin-top: 12px;
}

.content_about_item_img {
    margin-top: 33px;
    margin-right: 30px;
    margin-bottom: -1px;
    width: 218px;
    height: 291px;
    background-size: 100%;
    background-repeat: no-repeat;
    filter: drop-shadow(8px -8px 16px rgba(0, 0, 0, 0.06));
    border-radius: 20px 20px 0px 0px;
}

.item_img_1 {
    background-image: url(img/risk_level.png);
}

.item_img_2 {
    background-image: url(img/risk_level_1.png);
}

.values {
    display: flex;
    margin-top: 120px;
}

.values_header {
    margin-top: 0;
    max-width: 100%;
}

.values_desc {
    max-width: 45%;
}

.values_desc p {
    max-width: 405px;
    margin-top: 21px;
    font-size: 14px;
    font-weight: 500;
}

.values_icones {
    display: flex;
    flex-wrap: wrap;
    margin-right: 30px;
}

.values_icones_item {
    box-sizing: border-box;
    background: #FFFFFF;
    border-radius: 30px;
    width: calc(50% - 40px);
    margin: 21px 19px;
    padding: 17px 26px 30px;
}

.values_icones_item p {
    color: #29374E;
    font-weight: 500;
    font-size: 14px;
    margin-top: 13px;
}

.values_icones_item_icon {
    width: 37px;
    height: 37px;
    border-radius: 50%;
    background-color: #EFF9FF;
    text-align: center;
    margin: 0;
}

.values_icones_item_icon img {
    margin-top: 15%;
}